nav {
    display: flex;
    height: 10vh;
}

main {
    width: 100vw;
}
#dashboard {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    height: 80vh;
    padding-top: 2rem;
    width: 100vw;
    overflow: scroll;


}
#footer {
    display: flex;
    background-color: grey;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    height: 10vh;
}

.grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    }
div.card {
    margin: 1rem;
    padding: 20px;
    align-content: flex-start;
    
}
.col-sm{
    transition: all 1s;
}ls
.col-sm:hover {
    color: grey;
    transform: scale(1.04)
}

img {
    border: 1px solid black;
}